@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
}

.titleWrapper {
  padding: 25px 10px 10px 90px;
  vertical-align: middle;
  width: 100%;
  font-size: 30px;
}

.header {
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Wrapper {
  margin: 5px;
}

.body {
  background-color: skyblue;
  height: 100%;
  width: 100%;
  font-style: italic;
  color: white;
  font-family: 'HakgyoansimWoojuR', sans-serif;
  font-size: 18px;
}

.nav {
  display: flex;
  justify-content: right;
}

.navContents {
  display: flex;
  justify-content: right;
  list-style-type: none;
  font-size: 15px;
  padding: 15px;
}

.navContent {
  padding: 5px 5px 0px;
}

.contentWrapper {
  vertical-align: middle;
}

.ContentBox {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.ContentWrapper {
  border: 2px solid white;
  width: 32%;
  height: 350px;
  display: flex;
  border-radius: 10px;
}

.RightContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.LeftContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.mainContent {
  width: auto;
  height: 380px;
}

/* .graphContent {
  border: 1px solid black;
} */

.article {
  flex-direction: column;
  /* height: 70%; */
}

.timerContent {
  margin-top: 20px;
}

.MiddleContentWrapper {
  border: 2px solid white;
  width: 32%;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.GraphContent {
  height: 100px;
}

.footer {
  border-top: 2px solid white;
  height: 40px;
  padding-top: 10px;
  padding-right: 30px;
  text-align: right;
}

.title {
  text-decoration-line: none;
  font-style: normal;
  font-weight: bold;
  color: white;
}

.refreshTime {
  font-size: 15px;
  text-align: left;
  padding-left: 50px;
}